<!DOCTYPE html>
<html lang="en" xmlns:th =  "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
<div layout:fragment="~{siteContent}">
    <div class="container mt-3">
        <div class="alert alert-danger" role="alert" th:if = "${param.emailerror}">
            Email is busy!
        </div>
        <div class="alert alert-danger" role="alert" th:if = "${param.passworderror}">
            Password  is not same!
        </div>
        <div class="alert alert-success" role="alert" th:if = "${param.success}">
            Success
        </div>
        <form th:action="@{'/to_sign_up'}" method="post">
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">EMAIL</label>
                    <input type="email" class="form-control"
                           placeholder="Insert email" required name="user_email">
                </div>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">PASSWORD</label>
                    <input type="password" class="form-control"
                           placeholder="Insert password" required name="user_password">
                </div>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">REPEAT PASSWORD</label>
                    <input type="password" class="form-control"
                           placeholder="Repeat password" required name="user_repeat_password">
                </div>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">FULL NAME</label>
                    <input type="text" class="form-control"
                           laceholder="Insert full name" required name="user_fullName">
                </div>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">AGE</label>
                    <input type="date" class="form-control"
                           placeholder="Insert age" required name="user_birthdate">
                </div>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">ABOUT ME</label>
                    <textarea class="form-control" placeholder="Write about yourself"
                              required name="user_bio"></textarea>
                </div>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <button class="btn btn-primary btn-sm">SIGN UP</button>
                </div>
            </div>
        </form>
    </div>
</div>
</html>