<!DOCTYPE html>
<html lang="en" xmlns:th =  "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
<div layout:fragment="~{siteContent}">
    <div class="container mt-3">
        <div class="alert alert-danger" role="alert" th:if = "${param.oldpassworderror}">
            Incorrect old password!
        </div>
        <div class="alert alert-danger" role="alert" th:if = "${param.passwordmismatch}">
            New password is nor same!
        </div>
        <div class="alert alert-success" role="alert" th:if = "${param.success}">
            Success!
        </div>
        <form th:action="@{'/to_update_password'}" method="post">
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">OLD PASSWORD</label>
                    <input type="password" class="form-control"
                           placeholder="Insert old password" required name="user_password">
                </div>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">NEW PASSWORD</label>
                    <input type="password" class="form-control"
                           placeholder="Insert new password" required name="user_new_password">
                </div>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">REPEAT NEW PASSWORD</label>
                    <input type="password" class="form-control"
                           placeholder="Repeat new password" required name="user_repeat_new_password">
                </div>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <button class="btn btn-primary btn-sm">UPDATE PASSWORD</button>
                </div>
            </div>
        </form>
    </div>
</div>
</html>